* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: auto;
}

.link {
    text-decoration-style: none;
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #532F18;
    color: white;
}

.navbar .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.navbar .container .logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar .container .links {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.navbar .container .links .user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .container .links button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;
}

/* ================ INTRO ====================== */
.intro {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/289665/pexels-photo-289665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: #013914;
    background-position: center;
    background-size: cover;
    color: white;
}

.intro .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.intro button {
    color: white;
    width: 200px;
    border-color: white;
}

/* =================features =============== */
.features {
    padding: 30px 0px;
}

.features h1 {
    color: #532F18;
}

/* ================= about ============= */
.about {
    background-color: #f7efea;
    padding: 40px;
}

.about .card-body {
    margin: 0px 50px;
}

.about .card-body p {
    font-size: 18px;
    text-align: start;
}

.socials i {
    padding: 10px 10px;
}